<form (submit)="createQuiz">
    <label for="title">Title:</label><br>
    <input type="text" name="title"><br>
    <label for="question">Question:</label><br>
    <input type="text" name="question1"><br>
    <input type="text" name="option1" placeholder="correct answer here"><br>
    <input type="text" name="option1" placeholder="incorrect answer here"><br>
    <input type="text" name="option1" placeholder="incorrect answer here"><br>
    <input type="text" name="option1" placeholder="incorrect answer here"><br>

    <label for="question">Question:</label><br>
    <input type="text" name="question2"><br>
    <input type="text" name="option2" placeholder="correct answer here"><br>
    <input type="text" name="option2" placeholder="incorrect answer here"><br>
    <input type="text" name="option2" placeholder="incorrect answer here"><br>
    <input type="text" name="option2" placeholder="incorrect answer here"><br>

    <label for="question">Question:</label><br>
    <input type="text" name="question3"><br>
    <input type="text" name="option3" placeholder="correct answer here"><br>
    <input type="text" name="option3" placeholder="incorrect answer here"><br>
    <input type="text" name="option3" placeholder="incorrect answer here"><br>
    <input type="text" name="option3" placeholder="incorrect answer here"><br>
    <button type="submit">Create quiz</button>
</form>





