<h3>Create your Quiz</h3>
<p *ngIf="errorMsg" style="color:red">
    {{ errorMsg }}
</p>
<form (submit)="createQuiz()">
    {{ newQuiz | json}}
    <br>
    <label for="title">Title:</label>
    <input type="text" name="title" [(ngModel)]='newQuiz.title'>
    <br>
    <label for="question">Question:</label>
    <input type="text" name="question" [(ngModel)]='newQuiz.question'>
    <select name="answer" [(ngModel)]='newQuiz.corrext'>
        <option isSelected="false" isCorrect="false">wrong</option>
        <option isSelected="false" isCorrect=true>correct</option>
        <option isSelected="false" isCorrect="false">asdf</option>
        <option isSelected="false" isCorrect="false">asddf</option>
    </select>
    <button type="submit">Submit</button>
</form>