<p>socket-room works!</p>
<div>
    <!-- <h4>Question 1: {{}}</h4>
    <textarea class="answer" [(ngModel)]='quiz.quiz' (keyup)='editQuiz()' placeholder='Whats your answer?'></textarea>
    <h4>Question 2: {{}}</h4>
    <textarea class="answer" [(ngModel)]='quiz.quiz' (keyup)='editQuiz()' placeholder='Whats your answer?'></textarea>
    <h4>Question 3: {{}}</h4>
    <textarea class="answer" [(ngModel)]='quiz.quiz' (keyup)='editQuiz()' placeholder='Whats your answer?'></textarea>
    <h4>Question 4: {{}}</h4>
    <textarea class="answer" [(ngModel)]='quiz.quiz' (keyup)='editQuiz()' placeholder='Whats your answer?'></textarea>
    <h4>Question 5: {{}}</h4>
    <textarea class="answer" [(ngModel)]='quiz.quiz' (keyup)='editQuiz()' placeholder='Whats your answer?'></textarea> -->

</div>

