<p>socket-room works!</p>
<div>
    <h4>Quiz: {{ quizToShow.title }}</h4>
    <ul *ngFor="let question of quizToShow.questions">
        <li> <b>{{ question[0].question }}</b>
            <hr>
            <ul *ngFor="let answer of quizToShow.questions[0].options">
                <!-- <li (click)  > {{ answer }}</li> -->
        
            </ul>
        </li>
    </ul>
        <!-- <textarea class="answer" [(ngModel)]='quiz.quiz' (keyup)='editQuiz()' placeholder='Any notes?'></textarea> -->
    
</div>

