<h1>Hello, {{ currentUser.username }}!</h1>

<span (click)="openNav()">&#9776; Available Quizzes</span>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <h3>Available Quizzes</h3>
    <ul *ngFor="let quiz of allQuiz">
        <li>
            <a [routerLink]="">{{ quiz.title }}</a> 
            <button  (click)="setActiveQuiz(quiz)">Nested Show quiz To Emit</button>        

        </li>
    </ul>
</div>


<div class="component">
    <app-create-quiz [allQuiz]="allQuiz"></app-create-quiz>
    <app-socket-room *ngIf="activeQuiz" [quizToShow]="activeQuiz" ></app-socket-room>
</div>
