@import '../../styles.scss';
@import '../create-quiz/create-quiz.component.scss';

.component {
    justify-content: center;
    width: 90%;
    @include inline;
}

div {
    vertical-align: top;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
        margin: 2px;
        a{
            text-decoration: none;
            color: rgb(103, 236, 103);
            padding-left: 8px;
        }
    }
}

.clickToOpenNav {
    float: left;
    margin-left: 64px;
    margin-bottom: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}