<h1>Hello, {{ currentUser.username }}!</h1>

<span (click)="openNav()" class="clickToOpenNav">&#9776; Available Quizzes</span>

<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <h3>Available Quizzes</h3>
        <ul *ngFor="let quiz of allQuiz">
            <li><a (click)="editQuiz(quiz._id)">{{ quiz.title }}</a></li>
        </ul>
    </div>


<div class="component">
    <app-create-quiz [allQuiz]="allQuiz"></app-create-quiz>
    <app-socket-room *ngIf="activeQuiz" [quizToShow]="activeQuiz" ></app-socket-room>
</div>
