<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Socket Trivia</title>
</head>

<body>
  <div class="navbar">
      <button class="btn-sm btn-light" [routerLink]="['/homepage']" class="l-button">Home</button>
      <button class="btn-sm btn-light" [routerLink]="['/game-platform']" class="l-button">Play now!</button>
      <button class="btn-sm btn-light" [routerLink]="['/signup']" class="r-button">Sign up!</button>
      <button class="btn-sm btn-light" [routerLink]="['/login']" class="r-button">Login</button>
  </div>
  <div class="router-outlet">
    <!-- <app-quiz-list></app-quiz-list>
    <app-quiz></app-quiz> -->
    <router-outlet></router-outlet>
  </div>
</body>

</html>