<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SOCKET TRIVIA</title>
</head>
<body>
  <nav>
    <p>Already have a game PIN?</p>
    <button [routerLink]="['/game-platform']">Play now!</button>
    <button [routerLink]="['/signup']">Sign up!</button>
    <button [routerLink]="['/login']">Login</button>
  </nav>
  <h1>Welcome to Socket Trivia!</h1>
  <p>A fun and interactive learning platform to get your audience engaged!</p>
</body>
</html>