@import "~bootstrap/scss/bootstrap.scss";


$primary-font: 'Julius Sans One', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$tertiary-font: 'Open Sans', sans-serif;

$primary-color: rgb(56, 53, 53);
$secondary-color: rgb(161, 159, 159);
$tertiary-color: rgb(255, 255, 255);

@mixin flexCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin inline {
    display: inline-block;
    vertical-align: middle;
}

@mixin block {
    display: block;
    vertical-align: top;
}

html, body {
    background-color: $primary-color;
    height: 100vh;
    margin: 0;
    text-align:center;
}

* {
    font-family: $secondary-font;
    color: $tertiary-color;
    input {
        color: black;
        margin: 3px;
        font-size:14px;
    }
}

button {
    border: 1px solid $tertiary-color;
    background-color: $tertiary-color;
    color: $primary-color;
    border-radius: 5px;
    margin: 5px;
}